.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #180b3b!important;
  background-image: url("/src/assets/image/bgImage.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  overflow-x: hidden!important;
  position: relative;
  scroll-behavior: smooth;
}
.list-content{
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.single-content{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  object-fit: contain;
  height: 100%;
}
.single-content span {
  background-color: #180e3d;
  font-size: 12px;
  height: 20px;
  width: 28px;
  text-align: center;
  z-index: 1;
  position: absolute;
  right: 10%;
  top: 0;
}
.single-content img {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  filter: brightness(80%);
  border-radius: 1.5%;
 
}
.content-title {
  color: white;
  background-color: rgba(15,6,54,.1);
  text-align: center;
  width: 70%;
  margin-bottom: 13px;
  position: absolute;
  left: 15%;
  bottom: 0;
  font-weight: 600;
  line-height: 100%;
}
.single-content:hover    {
  filter: brightness(125%) !important;
  transform: scale(1.15);
  transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.btn-trailer {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 25%;

}
.btn-trailer-success {
  background: rgba(60,63,63,.1)!important;
  border: 0.5px solid #2fc9f3!important;
  box-shadow: 0 0 4px 0 #636363;
  transition: all .8s ease!important;
}
.btn-trailer-success:hover {
  background: linear-gradient(200deg,#00aeff,#a68eff)!important;
  border: 1px solid #a4e6eb!important;
  border: 2px solid #5f2ab3;
  box-shadow: 0 0 5px 0 #242424;
}
.cast-image{
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #000  ;
  cursor: pointer;
  height: 140px;
  margin-bottom: 5px;
  object-fit: cover;
  width: 140px;
 
}
img{
  pointer-events: none
}

.MuiPagination-root button {
   
    color: white !important;
    background-color: #2c2540;
 
}
.Mui-selected {
  color: #fff;
  background: linear-gradient(45deg, #00aeff, #a68eff);
}
::-webkit-scrollbar {
  height: 15px;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg,#00aeff,#a68eff);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color:#180b3b!important;
  border-radius: 10px;
}
.dropdown-menu.show {
  background-color: #2c2d50!important;
}
input{
  text-indent: 20px;
}
.footer-box{
  margin: 40px 40px 40px 40px;
}
.footer-box  div{
  margin-bottom: 7px;
}
.footer-box h3{
  margin-bottom: 20px;
}
.footer-box h4{
  margin-bottom: 20px;
}
.top-div{
  padding-top: 6rem;
}
.header-div{
  padding-top: 12px ;
  padding-bottom: 12px;
}
.info-img {
  display: block;
  width: "80%";
}
.background-info {
  min-height: 650px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="top-div"] {
    padding-top: 10rem;
  }
  [class*="header-div"]{
    padding-top: 8px ;
    padding-bottom: 8px;
  }
  [class*="overview"]{
    display: none;
  }
  [class*="btn-login"]{
    position: absolute;
    top: 13px;
    right: 15px;
  }
  [class*="info-img"]{
    max-height: 300px;
    object-fit: fill;
    width: 100%;
  }
  [class*="background-info"]{
    min-height: 1100px;
  }
}